<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        {% if session.get("logged_in") %}
             <a href="{{ url_for('admin') }}">Админка</a>
             <a href="{{ url_for('logout') }}">Выйти</a>
        {% else %}
            <a href="{{ url_for('login') }}">Войти</a>
        {% endif %}
    </nav>

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>